.details_wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;

    .details_image {
        width: 40%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 70%;
            height: 60%;
        }
    }

    .details_info {
        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: 25px;

        .details_text {
            display: flex;
            flex-direction: column;
            row-gap: 25px;
            height: auto;

            h2 {

                font-size: 27px;
                font-weight: 700;
            }

            h3 {
                font-size: 20px;
                font-weight: 700;
                color: rgb(156, 151, 151);
            }
        }

        .button {
            display: flex;
            column-gap: 50px;

            span {
                font-size: 30px;
                font-weight: 700;
            }

            button {
                width: 200px;
                height: 60px;
                background-color: black;
                border-radius: 10px;
                color: white;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        .details_wrapper {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 25px;

            .details_image {
                width: 80%;
                height: auto;

            }

            .details_info {
                width: 100%;
                .details_text{
                    h2{
                        font-size: 20px;
                    }
                }
                .button{
                    width: 100%;
                    justify-content: space-around;
                }
            }
        }
    }
}