.container {
    .product_list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 25px;
        row-gap: 80px;
        margin-top: 10%;
    }
}

@media (max-width: 768px) {
    .container{
        width: 95%;
        .product_list{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           }
    }
  
}